* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: #222222;
	color: white;
	font-family: sans-serif;
}

header {
	background: rgb(255, 109, 18);
	height: 100px;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.logo > img {

	width: 150px;
    display: flex;
    justify-content: space-around;
    margin-right: 300px;
}

.menu {
	display: flex;
	justify-content: flex-start;
	padding-right: 200px;
    
}

.menu-item {
	padding: 0 15px;
}

.img {

    display: flex;
    justify-content: space-around;

}

.container  {

    padding-top: 100px ;
    padding-bottom: 100px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.foto {
    width: 300px;
    display: flex;  
}

.rosso {
    position: relative;
    bottom: 50px;
    background-color: red;
    margin-right: 300px;
}

.verde {

    position: relative;
    left: 40px;
    bottom: 68px;
    background-color: green;
    margin-right: 300px;
}


.prezzo {

    color:red;
    display: inline-block;
}

.block {

    padding-right: 4px;
    display: inline-block;
}




.container {
	background: orange;
	width: 100%;
	
}

.foto {
	background-color: teal;
	color: white;
	width: 200px;

}

.container:hover {
	background: green;
}

.container:hover .btn {
	background-image: url(./img/1b.webp);
}

.foto:hover {
	color: green;
}